.back-to-home-btn {
    background: transparent;
    color: #01d5ae;
    border: 2px solid #01d5ae;
    border-radius: 5px;
    transition: all 0.3s;
}
.back-to-home-btn:hover {
    background: #01d5ae;
    color: #000;
}
.site-btn {
    background: transparent;
    color: #01d5ae;
    border: 2px solid #01d5ae;
    border-radius: 5px;
    transition: all 0.3s;
}
.site-btn:hover {
    background: #01d5ae;
    color: #000;
}
