#responsive-navbar-nav .navbar-nav .nav-link {
    color: aliceblue;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.3s;
}
#responsive-navbar-nav .navbar-nav .nav-link:hover {
    color: #01d5ae;
}
.header-logout-btn {
    background: transparent;
    border: 1px solid #01d5ae;
    border-radius: 5px;
    color: #01d5ae;
    transition: all 0.3s;
}
.header-logout-btn:hover {
    background: #01d5ae;
    color: #000;
}
